
  <div class="edit_user">

   <%= simple_form_for @user do |f| %>

   <p>first name</p>
   <%= f.input :first_name,label: false %>



   <p>last name</p>
   <%= f.input :last_name,:label => false %>

   <p>age</p>
   <%= f.input :age,label: false, input_html: { min: 18 } %>

   <p>gender</p>
   <%= f.select :gender, [['male'],['female']] %>

   <%= f.button :submit, 'update',class: "btn btn-primary" %>
   <% end %>
 </div>





