
<div class="banner banner-index" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path "blackfist.jpeg"%>); display: flex; flex-direction: column; align-items: flex-start; justify-content: flex-start;">


  <h1 style="border: none; margin-left: 205px;">Book Your Session</h1>

  <div class="input_form">
    <%= simple_form_for [@trainer, @booking] do |f| %>
    <p>booking date</p>
    <div><%= f.input :date,:label => false,html5: true %></div>
    <p>booking time</p>
    <div><%= f.input :time,:label => false%></div>

    <p>duration</p>

    <%= f.select :hours, [[1],[2]]%>
    <%= f.button :submit,'click and get going', class: "btn btn-primary booking_btn" %>
    <% end %>
  </div>
  <div class="pricecalculation" id="fullpricebox" data-actualprice="<%= @trainer.hourly_rate  %>"></div>


      <div id="calendar-container">
            <div id="calendar-header">
                <span id="calendar-month-year"></span>
            </div>
            <div id="calendar-dates">
            </div>
        </div>

  </div>






<script>
  document.getElementById("fullpricebox").innerText =  document.getElementById("fullpricebox").dataset.actualprice + " ILS"
  document.getElementById('booking_hours')[document.getElementById('booking_hours').selectedIndex]


  document.getElementById('booking_hours').addEventListener("change", function(e) {update(e);});

function update(e){
 let option = document.getElementById('booking_hours')[document.getElementById('booking_hours').selectedIndex].value
 let fullprice = document.getElementById("fullpricebox")
  let actualprice = fullprice.dataset.actualprice
 fullprice.innerText = parseInt(option) * parseInt(actualprice) + "  ILS"
}

window.onload = function(){
    var d = new Date();
    var month_name = ['January','February','March','April','May','June','July','August','September','October','November','December'];
    var month = d.getMonth();   //0-11
    var year = d.getFullYear(); //2014
    var first_date = month_name[month] + " " + 1 + " " + year;
    //September 1 2014
    var tmp = new Date(first_date).toDateString();
    //Mon Sep 01 2014 ...
    var first_day = tmp.substring(0, 3);    //Mon
    var day_name = ['Sun','Mon','Tue','Wed','Thu','Fri','Sat'];
    var day_no = day_name.indexOf(first_day);   //1
    var days = new Date(year, month+1, 0).getDate();    //30
    //Tue Sep 30 2014 ...
    var calendar = get_calendar(day_no, days);
    document.getElementById("calendar-month-year").innerHTML = month_name[month]+" "+year;
    document.getElementById("calendar-dates").appendChild(calendar);
    let i = 0;











   //  for (i = 0; i < 7 ; i++) {

   //      if (childt.getElementById('td')[i] = d.getDate())

   //      {

   //         childtr2.getElementById('td')[i].style.cssText = 'color:blue';


   //      }

   //  }

    row2 = calendar.getElementsByTagName('tr')[1]
     let current_td;
     let number;
     let flag = 0;

    for (i = 0; i < 7 ; i++) {

      current_td =  row2.getElementsByTagName('td')[i]
      number = Number(current_td.innerHTML);
      if (number = d.getDate()) {

        flag = number;

    }

     if (flag != 0) {

        let today_td;
        today_td = row2.getElementsByTagName('td')[flag];
        today_td.style.cssText = "color:blue";

     }



     }



}






function get_calendar(day_no, days){
    var table = document.createElement('table');
    var tr = document.createElement('tr');

    //row for the day letters
    for(var c=0; c<=6; c++){
        var td = document.createElement('td');
        td.innerHTML = "SMTWTFS"[c];
        tr.appendChild(td);
    }
    table.appendChild(tr);

    //create 2nd row
    tr = document.createElement('tr');
    var c;
    for(c=0; c<=6; c++){
        if(c == day_no){
            break;
        }
        var td = document.createElement('td');
        td.innerHTML = "";
        tr.appendChild(td);
    }

    var count = 1;
    for(; c<=6; c++){
        var td = document.createElement('td');
        td.innerHTML = count;
        count++;
        tr.appendChild(td);
    }
    table.appendChild(tr);

    //rest of the date rows
    for(var r=3; r<=7; r++){
        tr = document.createElement('tr');
        for(var c=0; c<=6; c++){
            if(count > days){
                table.appendChild(tr);
                return table;
            }
            var td = document.createElement('td');
            td.innerHTML = count;

            count++;
            tr.appendChild(td);

        }
        var d = new Date();
        table.appendChild(tr);
    }

    return table;
}








</script>
<style>
  .pricecalculation{
    height: 6vh;
  font-size: 40px;
  border: solid 1px white;
  width: 30vh;
  display: flex;
  justify-content: center;
  margin-left: 169px;
  margin-top: 50px;
  align-content: center;
  }

.input_form
{
 padding-left:10vw;
 width:35vw;
 padding-top:1vh;
 width:13vw;
 display:flex;

}


#booking_hours
{
  width:30vh;
  color:black;
}


.input_form

{
  padding-right:150vh;

}

.booking_btn

{
  margin-top:2vh;

}

#calendar-container{
    padding: 10px;
    width: 210px;
    height: 240px;
    text-align: center;
    border: 1px solid #eee;
    border-radius: 10px;
    font-size: 16px;
    font-family: Arial;
    background-color:#3e565e;
    margin-top: -436px;
    margin-left: 1282px;
}
}

#calendar-container>div{
    padding: 0;
    margin-bottom: 10px;
}

#calendar-month-year{
    margin: 5px;
}

#calendar-dates>table>tr>td{
    padding: 5px;
}


</style>





