
<div class="banner banner-index" id="index_banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path "blackfist.jpeg"%>);">



  <div class="input_form">
    <%= simple_form_for [@trainer, @booking] do |f| %>
    <div><%= f.input :time_of_booking,:label => "book a date", as: :date %></div>
    <div><%= f.input :time_of_booking,:label => "book a time", as: :time %></div>
    <p>enter number of hours needed</p>
    <%= f.number_field :hours%>
    <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>
  </div>

    <div class="input">
    <%= simple_form_for [@trainer, @booking] do |f| %>
    <%= f.input :time_of_booking,:label => "book a date", as: :date %>
    <%= f.input :time_of_booking,:label => "book a time", as: :time %>
    <p>enter number of hours needed</p>
    <%= f.number_field :hours%>
    <%= f.button :submit, class: "btn btn-primary book" %>
    <% end %>
    </div>





<div class="row" id="icons_row">
  <center>
    <div class="col-xs-4 col-lg-2 icon">
      <%= image_tag "new1.svg", height: 35 %>
    </div>
    <div class="col-xs-4 col-lg-2  icon">
      <%= image_tag "new2.png", height: 35  %>
    </div>
    <div class="col-xs-4 col-lg-2  icon">
      <%= image_tag "new3.png", height: 35  %>
    </div>

    <div class="col-xs-4 col-lg-2  icon">
      <%= image_tag "new4.png", height: 35 %>
    </div>

    <div class="col-xs-4 col-lg-2  icon">
      <%= image_tag "new5.svg", height: 35  %>
    </div>
    <div class="col-xs-4 col-lg-2 icon">
      <%= image_tag "new6.png", height: 35  %>
    </div>
  </center>
</div>










</center>
</div>







