
<div class="banner banner-index" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path "blackfist.jpeg"%>); display: flex; flex-direction: column; align-items: flex-start; justify-content: flex-start;">


  <h1 style="border: none; margin-left: 205px;">book your session</h1>

  <div class="input_form">
    <%= simple_form_for [@trainer, @booking] do |f| %>
    <p>booking date</p>
    <div><%= f.input :time_of_booking,:label => false, as: :date %></div>
    <p>booking time</p>
    <div><%= f.input :time_of_booking,:label => false, as: :time %></div>

    <p>duration</p>

    <%#= f.input :hours,label: false, input_html: { min:1,max:3}%>
    <%= f.select :hours, [[1],[2]]%>
    <%= f.button :submit, class: "btn btn-primary booking_btn" %>
    <% end %>
  </div>
  </div>






<%#= f.input :age,label: false, input_html: { min: 18 } %>








