<style>
.trainershowcontainer
{
  color:white;
}

@media (max-width: 767px) {


   body .trainershowinforow{

    font-size:15px;
    margin-left:-60px;
    margin-bottom:40px;

   }
   .col-xs-6
   {

    font-size:20px;
    color:white;
   }
   .btn-lg
   {
       padding: 16px 205px;
       padding-left: 173px;
       margin-left: -25px;
       padding-left: 24px;
       margin-bottom:-20px;
   }

}

@media (min-width: 1200px) {


   body .trainershowinforow{
    font-size:30px;
    margin-top:10px;

   }

   .col-xs-6
   {

    font-size:40px;
    color:white;
   }


}


@media (max-width: 767px) {
.trainershowsecondrow
{
 font-size:10px;
 margin-left:-150px;

}



}

 </style>

<div class="trainershowwrapper" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%=image_path "training.jpeg"%>);">
   <div class="trainershowcontainer">

    <div class="col-xs-6 head">
        Congratulations On Making a Booking
      </div>



     <div class="trainershowfirstrow">
       <div class="trainershowinformations">
         <div class="trainershowinforow">Trainer's Name: <%=@trainer.first_name=%> <%=@trainer.last_name=%></div>
         <div class="trainershowinforow">Session: <%=@expertise.name%> </div>
         <div class="trainershowinforow">Booking address: <%=@trainer.address=%> </div>
         <div class="trainershowinforow">Booking time: <%=@booking.time_of_booking.time.strftime('%c')=%></div>
         <div class="trainershowinforow">Duration:  <%=@booking.hours=%> hours</div>
         <div class="trainershowinforow">Price: <%=@booking.total_price=%></div>
       </div>
     </div>
     <div class="trainershowsecondrow">
       <div class="tsbtnbox">
       <%= link_to "back to all trainers",new_trainer_booking_path(@trainer),class: "btn btn-primary btn-lg btn-block go_up"%>
        </div>
     </div>
   </div>
 </div>





