
<style>
  .col-xs-6{
    width: 100%;
    font-size: 20px;
  }
  .biggertext{
    font-size: 22px !important;
  }


</style>
<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "weights.svg", height: 50 %>
  <% end %>

  <!-- Right Navigation -->

    <% if user_signed_in? %>
     <div class="row sign_out">
      <div class="col-xs-6 col-xs-offset-6" style="margin: 0">
      <!-- Links when logged in -->



       <div class="navbar_links" style="font-size: 20px !important;
">
       <div class="my_booking"><%= link_to "My bookings",trainer_bookings_path(1)%></div>
       <div class="erez"><%= link_to "Sign out", destroy_user_session_path, method: :delete%></div></div>




     </div>

    <% else %>

      <div class="col-xs-6 col-xs-offset-6 fix_nav">
      <center style="display: flex; justify-content: flex-end; "><%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link biggertext" %></center>
    <% end %>
    <div class="home"><%= link_to "Home", trainers_path%></div>

  </div>


 </div>

</div>





