

<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "weights.svg", height: 50 %>
  <% end %>

  <!-- Right Navigation -->
  
    <% if user_signed_in? %>
     <div class="row sign_out">
      <div class="col-xs-6 col-xs-offset-6">
      <!-- Links when logged in -->
      


       <div class="navbar_links">
       <%= link_to "Your bookings",trainer_bookings_path(1)%>
       <%= link_to "Sign out", destroy_user_session_path, method: :delete%></div>

     </div>
    
    <% else %>
   
      <div class="col-xs-6 col-xs-offset-6">
      <center><%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %></center>
    <% end %>
  </div>
  

 </div>

</div>





