
<%require 'nokogiri'%>
<%page = Nokogiri::HTML(open("/home/erez/Downloads/findacoach/coachnew/app/views/reviews/new.html.erb"))%>
<p>please give your review</p>

<h2>rate the service</h2>
<div class="starbox">
          <div class="star" data-star="1"><i class="fa fa-star"></i></div>
          <div class="star" data-star="2"><i class="fa fa-star"></i></div>
          <div class="star" data-star="3"><i class="fa fa-star"></i></div>
          <div class="star" data-star="4"><i class="fa fa-star"></i></div>
          <div class="star" data-star="5"><i class="fa fa-star"></i></div>




       <div class="input_form">
    <%= simple_form_for [@trainer, @booking, @review] do |f| %>


    <p>title</p>
    <div><%= f.input :title,:label => false%></div>
    <p>write down your review</p>
    <div><%= f.input :content,:label => false%></div>


    <div id="score">
    <%= f.input :score,:label => false,:input_html => { :value => '2' }, id: "scorefield" ,name: "scoreinput", type: "text" %>
    </div>

    <div class ="score" data-star="" ></div>


    <%= f.button :submit,'submit', class: "btn btn-primary booking_btn" %>
    <% end %>
  </div>

       <style>

    .starbox{
     width: 15vw;
     display: flex;
   }

  .star{
     cursor: pointer;
   }



    </style>






      <script>



    let score = document.querySelector('.score')
    let rating = document.querySelector('#score')
 document.querySelectorAll('.starbox').forEach(function(starbox){
   Array.from(starbox.children).forEach(function(star){
     star.addEventListener('click', function(){
       if(star.dataset.star == "1"){
         Array.from(star.parentNode.children).forEach(function(starrr){
           starrr.style.color = "black"
           score.innerHTML = "not good"
           star.style.color = "#ffd530";
          rating.innerHTML="1";

         })

       }
       else if(star.dataset.star == "2"){
          Array.from(star.parentNode.children).forEach(function(starrr){
           starrr.style.color = "black"
           score.innerHTML = "not very good"
           rating.innerHTML="2";
         })
          star.style.color = "#ffd530";
          star.parentNode.children[0].style.color = "#ffd530";
       }
       else if(star.dataset.star == "3"){
          Array.from(star.parentNode.children).forEach(function(starrr){
           starrr.style.color = "black"
           score.innerHTML = "ok"
           rating.innerHTML="3";
         })
          star.style.color = "#ffd530";
          star.parentNode.children[0].style.color = "#ffd530";
          star.parentNode.children[1].style.color = "#ffd530";
       }
       else if(star.dataset.star == "4"){
          Array.from(star.parentNode.children).forEach(function(starrr){
           starrr.style.color = "black"
           score.innerHTML = "good"
           rating.innerHTML="4";
         })
          star.style.color = "#ffd530";
          star.parentNode.children[0].style.color = "#ffd530";
          star.parentNode.children[1].style.color = "#ffd530";
          star.parentNode.children[2].style.color = "#ffd530";
       }
       else if(star.dataset.star == "5"){
          Array.from(star.parentNode.children).forEach(function(starrr){
           starrr.style.color = "black"
           score.innerHTML = "very good"
           rating.innerHTML="5";
         })
          star.style.color = "#ffd530";
          star.parentNode.children[0].style.color = "#ffd530";
          star.parentNode.children[1].style.color = "#ffd530";
          star.parentNode.children[2].style.color = "#ffd530";
          star.parentNode.children[3].style.color = "#ffd530";
       }
     });
   });

 });

</script>
