
<div class="banner " id="new_train_ban" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%=image_path "girls.jpeg"%>);">


  <div class="create_training">
   <%= simple_form_for Trainer.new do |f| %>
   <div class="tra_inp_field">hourly rate</div>
   <%= f.input :hourly_rate,label: false, input_html: { min: 0 } %>
   <div class="tra_inp_field">enter category</div>
   <%= f.collection_select(:expertise_id, Expertise.all, :id, :name ) %>
   <div class="tra_inp_field">enter address</div>
   <%= f.input :address,:label => false %>
   <div class="tra_inp_field">upload a photo</div>
   <%= f.input :photo,:label => false %>
   <%= f.input :photo_cache, as: :hidden %>
   <div class="tra_inp_field">first name</div>
   <%= f.input :first_name,label: false %>
   <div class="tra_inp_field">last name</div>
   <%= f.input :last_name,:label => false %>
   <div class="tra_inp_field">age</div>
   <%= f.input :age,label: false, input_html: { min: 18 } %>
   <div class="tra_inp_field">gender</div>
   <%= f.select :gender, [['male'],['female']],class: "gender_field"%>

   <div><%= f.button :submit,'submit', class: "btn-success training_btn"%>        <% end %>


   </div>
 </div>
</div>

<style type="text/css">



 .create_training

 {
   width:15vw;
   margin-left:-155vh;
   margin-top:2vh;
   color:black;

 }

 .training_btn
 {

 margin-top: 6.5vh;
 width: 10vw;

 }

 .tra_inp_field
 {
 font-size: 2.3vh;
 font-weight: lighter;
 color: white;
 font-style: bold;
 height: 2vh;
 margin-bottom: 2.1vh;
 }

 .button, select {

     width: 15vw;
 }

</style>







