

<% content_for :meta_title, "#{@trainer.first_name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @trainer.expertise %>
<% content_for :meta_image, cl_image_path(@trainer.photo) %>

 <div class="trainershowwrapper" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%=image_path "training.jpeg"%>);">
   <div class="trainershowcontainer">
     <div class="trainershowfirstrow">
       <div class="trainershowprofilebox">
         <div class="trainershowcircle" style="background-image: url(<%=@trainer.photo%>)"></div>
       </div>
       <div class="trainershowinformations">
        <div class="small">
         <div class="trainershowinforow">Name: <%=@trainer.first_name=%> <%=@trainer.last_name=%></div>
         <div class="trainershowinforow">Email: <%=@trainer.user.email=%> </div>
         <div class="trainershowinforow">Session: <%=@expertise.name%> </div>
         <div class="trainershowinforow">Age: <%=@trainer.age=%></div>
         <div class="trainershowinforow">Gender:  <%=@trainer.gender=%> </div>
         <div class="trainershowinforow">Address: <%=@trainer.address=%></div>
         <div class="trainershowinforow">Price per hour: <%=@trainer.hourly_rate=%></div>
       </div>
       </div>
     </div>
     <div class="trainershowsecondrow">
      <div class="gifbox" id="animationcarc"><%= image_tag 'trainergif2.gif'%></div>
       <div class="tsbtnbox">
       <%= link_to "book now",new_trainer_booking_path(@trainer),class: "btn btn-primary btn-lg btn-block", id: 'animatiombtn'%>
        </div>
     </div>
   </div>
 </div>


<script>
  document.getElementById("animatiombtn").addEventListener("mouseover",function(){
    document.getElementById("animationcarc").style.opacity = 1;
    document.getElementById("animationcarc").style.transform = 'translate(573%)';
  });
  document.getElementById("animatiombtn").addEventListener("mouseout",function(){
    document.getElementById("animationcarc").style.opacity = 0;
    document.getElementById("animationcarc").style.transform = 'translate(0%)';
  });
</script>

<style>
  .trainershowfirstrow{
     height: 70%;
     width: 100%;
     /*background-color: green;*/
     display: flex;
   }

 .trainershowinforow{
     height: calc(100%/6);
     border-bottom: 3px solid grey;
     display: flex;
     align-items: center;
     color: white;
     font-size:25px;
     border-radius: 5px;
     padding-left: 5%;
   }
   @media (max-width: 480px) {


   .trainershowinforow{
    margin-top:4vh;
    font-size:5vw;
    margin-left:-25vw;

   }

      .btn-lg
      {
          padding: 16px 205px;
          padding-left: 50px;
          margin-left: -260px;
          padding-left: 24px;
          margin-bottom:-20px;
      }

   }

@media (min-width: 481px) {
  body.trainershowinforow{
    margin-top:6vh;
    font-size:8vw;
    margin-left:-90vw;

}
.btn-lg
      {
          width:30vw;
          margin-left:-30vw;
      }


}


@media (min-width: 1200px) {
  body.trainershowinforow{
    margin-top:6vh;
    font-size:15vw;


}
.btn-lg
      {
          width:13vw;
          margin-right:5vw;
          margin-left:6vw;

      }


}






 * {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
   .trainershowwrapper{
     width: 100vw;
     height: 90vh;
     background-size: cover;
     /*background-position: center;*/
     display: flex;
     justify-content: center;
     align-items: center;
     /*background-color: red;*/
   }    .trainershowcontainer{
     width: 80%;
     height: 80%;
     background-color: rgba(224,224,224,.35);
     padding: 30px;
     border-radius: 10px;
     overflow: hidden;
   }

   .trainershowsecondrow{
     height: 30%;
     width: 100%;
     display: flex;
     justify-content: space-between;
     /*background-color: black;*/
   }
   .trainershowprofilebox{
     height: 100%;
     width: 25%;

   }


   .trainershowcircle {
     position: relative;
     border-radius: 50%;
     width: 100%;
     height: auto;
     padding-top: 70%;
     background-size: cover;
     padding-bottom: 30%;
     border: solid 1px white;
     box-shadow: 3px 3px 3px 3px;
   }

   .trainershowinforow:hover{
     background-color: rgba(0,0,0,.35);
   }

   .diogobtn{
    width: 100%;
      a{
      width: 100%;
      }
    }
    .gifbox{
      opacity: 0;
      transition: opacity ease 1s;
      transition: transform linear 4s;
    }

.trainer-img {
  height: 454px;
width: 463px;
border-radius: 50%;
position: cover;
margin-left: -3vw;
margin-bottom: 16vh;
margin-top: -42vh;
background-position:center;
}

   .trainershowinformations{
     height: 100%;
     width: 75%;
     /*background-color: yellow;*/
     padding: 35px;
   }

   .tsbtnbox{
     width: 25%;
     height: 100%;
     /*background-color: black;*/
     display: flex;
     align-items: flex-end;
   }

 </style>


















































