

 <div class="trainershowwrapper" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%=image_path "training.jpeg"%>);">
   <div class="trainershowcontainer">
     <div class="trainershowfirstrow">
       <div class="trainershowprofilebox">
         <div class="trainershowcircle" style="background-image: url(<%=@trainer.photo%>)"></div>
       </div>
       <div class="trainershowinformations">
         <div class="trainershowinforow">Name: <%=@trainer.first_name=%> <%=@trainer.last_name=%></div>
         <div class="trainershowinforow">Email: <%=@trainer.user.email=%> </div>
         <div class="trainershowinforow">Session: <%=@expertise.name%> </div>
         <div class="trainershowinforow">Age: <%=@trainer.age=%></div>
         <div class="trainershowinforow">Gender:  <%=@trainer.gender=%> </div>
         <div class="trainershowinforow">Address: <%=@trainer.address=%></div>
       </div>
     </div>
     <div class="trainershowsecondrow">
       <div class="tsbtnbox">
       <%= link_to "book now",new_trainer_booking_path(@trainer),class: "btn btn-primary btn-lg btn-block"%>
        </div>
     </div>
   </div>
 </div>






















































