



<div class="banner banner-index">
  <div class="trainer_details">
    <div class="grid">

        <div class="card response name">
        <h3 class="properties">Trainer's Name</h3>
        <p id="booking_info"><%=@trainer.user.first_name=%> <%=@trainer.user.last_name=%></p>
        </div>


        <div class="card response age">
        <h3 class="properties">Trainer's Age and Gender</h3>
        <p><%=@trainer.user.age=%> - <%=@trainer.user.gender=%></p>
        </div>



        <div class="card response email">
        <h3 class="properties " id="more2">Trainer's Email</h3>
        <p><%=@trainer.user.email=%></p>
      </div>



        <div class="card response address">
        <h3 class="properties" id="more1">Address</h3>
        <p><%=@trainer.user.address=%></p>
      </div>

    </div>
  </div>
</div>
<div class="row" id="linksrow">
  <center><div class="links">
    <div class="col-xs-12 col-lg-4">
      <div class="btn-link"><%= link_to "Back to all trainers", trainers_path%></div>
    </div>
    <div class="col-xs-12 col-lg-4">
      <div class="btn-link"><%= link_to "book this training session",new_trainer_booking_path(@trainer)%></div>
    </div>
    <div class="col-xs-12 col-lg-4">
      <div class="btn-link"><%= link_to "show all reviews for this session",trainer_review_path(@trainer)%></div>
    </div>
  </div>
</center>
</div>
<center><h2>Sessions's Details</h2></center>
<div class="bottom bottom-index">
  <div class="row">
    <div class="sessions_details">
      <div class="col-sm-12 col-lg-6">
        <h3>Rate</h3>
        <p><%=@trainer.hourly_rate%> ils</p>
      </div>
      <div class="col-sm-12 col-lg-6">
        <h3>Expertise</h3>
        <p><%= @expertise.name %></p>
      </div>
    </div>
  </div>
</div>



